#info {
    width: 50%;
}

@media (max-width: 1220px) {
    #info {
        width: 75%;
    }
}

@media (max-width: 991px) {
    #info {
        text-align: center;
    }
}

@media (max-width: 767px) {
    #info {
        width: 100%;
    }
}