#focus-background {
    background-image: url(../../public/assets/focus-background.jpeg);
    background-position: bottom;
    background-size: cover;
}

#break-background {
    background-image: url(../../public/assets/break-background.jpeg);
    background-position: bottom;
    background-size: cover;
}

@media (max-width: 991px) {
    #focus-background, #break-background {
        display: none;
    }
}